body {
	padding: 10px;
	height: 400px;
	width: 400px;
}
#sidebar {
	display: none;
}
#content {
	left: 0px;
}
.setting.group-name {
	display: none;
}
.tab-content {
	width: 380px;
}
input[type=text] {
	width: 280px;
}